

body{
	margin: 0px;
	margin-top:10px;

}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1 {
 	font-family: auto;
	font-style: italic;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888
}

img{
	width: 600px;
	height: 350px;
	margin: 10px;
	transition: all .5s;
}
img:hover {
	transform: scale(1.06);  
}